# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/app
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/app

# Backend API
BACKEND_API_URL=https://ub4r9j3fl2.execute-api.eu-west-1.amazonaws.com
CLERK_API_JWT_TEMPLATE=przeczytai-api

# Frontend API mocks (development only)
NEXT_PUBLIC_API_MOCKING=false
